.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  width: 360px;
  height: 640px;
}

.wrapper1 {
  z-index: 1;
}

.wrapper2 {
  z-index: 0;
}

.exchange {
  position: fixed;
  right: 0;
  top: 0;
}
